doctype
html
  head
    title= title

    link(rel='stylesheet', href='/css/basic.css')
    link(rel='stylesheet', href='/css/dropzone.css')

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/plugins/dropzone.min.js")
    script(src="/js/index.js")
  body
    block content